.copyfi__navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 1100px;

}

.copyfi__navbar-links_logo{
    margin-right: 2rem
}

.copyfi__navbar-links_logo img{
    width: 120px;
    height: 100px
}

.copyfi__navbar-links_container {
    display: flex;
    list-style: none;
}



.copyfi__navbar-links_container li {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .copyfi__navbar-links_container{
        /* display: none; */
        display: flex;
        flex-direction: column;
        position: fixed;
        inset : 0 0 0 30%;
        padding: min(10vh,30rem) 2rem;
        gap: 10px;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(5rem);
    }

    .copyfi__navbar-links_container li{
        
    }

    .copyfi__navbar {
        padding: 2rem 4rem;
    }
}


@media screen and (max-width: 550px) {
    .copyfi__navbar {
        padding: 2rem
    }
}