

/* .tokenomicsContainer{
    max-width: 1100px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    height: auto;
} */

.heading{
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
    color: white;
    margin-bottom: -3rem;
}

.tokenomics{
    max-width: 1150px;
    margin: 1rem auto;
    color: white;
    padding: 0 25px;
    /* display: flex;
    flex-direction: row;
    height: 600px;
    gap: 20px;
    flex: 1 1;
    align-items: flex-end;
     */

    /* Grid */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 600px;
    gap: 20px;
    border: 1px solid white;


}
.tokenomicsFlexContainer{
    display: none;
}
.subContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 300px; */
    justify-content: end;
}



.barText{
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    
}

.barText .percentShare{
    line-break: strict;
}

.barText .type{
    line-break: strict;
}

.barText .supply{
    font-weight: 300;
    opacity: 0.5;
}

.bar{
    background-color: white;
}
.bar:hover{
background-color: #EC5B29;
}

.totalSupplyContainer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* width: 300px; */
    height: 100%;
    /* grid-area: totalSupply; */

}

.totalSupplyDetail{
    padding-bottom: 15px;
    line-height: 30px;
    font-weight: 600;
}

.totalSupplyDetail span{
 color:  #EC5B29;   
}

.totalSupplyBar{
    /* border: 1px solid white; */
    background-color: grey;
    height: 80%;
    overflow: hidden;
}

.privateSaleBar{
    height: 8%;
}

.presaleBar{
    height: 40%;
}

.lpBar{
    height: 20%;
}

.reserveBar, .cexBar, .marketingBar{
    height: 4%;
    background-color:white;
}


@media(max-width: 768px){

    .tokenomics{
        display: none;
    }
    .tokenomicsFlexContainer{
        display: flex;
        flex-direction: column;
        color: white;
        max-width: 768px;
        margin: 0 20px;
        padding: 10px;
        height: 450px;
        gap:20px;
    }

    .flexBars{
        display: flex;
        height: 400px;
        gap: 20px;
    }

    .totalSupplyBar_flex{
        height: 100%;
        width:80px;
        background-color: gray;
    }

    .otherBars{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 10px;
        /* justify-content: flex-end; */
    }

    .bars_flex{
        height: 100%;
        background-color: white;
        width: 100px;
    }

    .bars_flex:hover{
        background-color: #EC5B29;
    }
    .presale_flex{
        display: flex;
        height: 50%;
    }

    .lp_flex{
        display: flex;
        height: 25%;
    }

    .private_flex{
        display: flex;
        height: 10%
    }

    .research_flex{
        display: flex;
        height: 5%
    }
    .cex_flex{
        display: flex;
        height: 5%
    }
.marketing_flex{
    display: flex;
    height: 5%
}

.supplyText_flex{
    align-self: flex-end;
    margin-left: 10px;
}

.supplyText_flex span{
    opacity: 0.5;
}

}
