.utility{
    width: 300px;
    height: 270px;
    border: 1px solid white;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    /* text-align: center; */
    background-color: hsl(217, 69%, 7%);
}

.utility h1{
margin-top: 1rem;
}

